%h1.mt-3.mb-3= @event.name
.row
  .col-9
    .card.mb-2
      %h5.card-header イベント内容
      .card-body
        %p.card-text= simple_format(h(@event.content), {}, sanitize: false, wrapper_tag: "div")
    .card.mb-2
      %h5.card-header 開催時間
      .card-body
        %p.card-text= "#{l(@event.start_at, format: :long)} - #{l(@event.end_at, format: :long)}"
    .card.mb-2
      %h5.card-header 開催場所
      .card-body
        %p.card-text= @event.place
    .card.mb-2
      %h5.card-header 主催者
      .card-body
        = link_to("https://github.com/#{@event.owner.nickname}", class: "card-link") do
          = "@#{@event.owner.nickname}"
  .col-3
    - if @event.created_by?(current_user)
      = link_to "イベントを編集する", edit_event_path(@event), class: "btn btn-info btn-lg btn-block mb-3"
      = link_to "イベントを削除する", event_path(@event), data: { turbo_confirm: "「#{@event.name}」を削除します。よろしいですか？", turbo_method: :delete}, class: "btn btn-danger btn-lg btn-block mb-3"
    - if user_signed_in?
      %button.btn.btn-primary.btn-lg.btn-block{ "data-bs-toggle": "modal", "data-bs-target": "#createTicket" }
        参加する
      .modal.fade#createTicket

= link_to "back", :back, class: "link-secondary"
